<!DOCTYPE html>
<html>
  <head>
    <title>Ticker List</title>

    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mx-auto">
      <div class="card bg-unset mx-auto my-5 p-5" id="{{id}}">
        <h2 class="text-4xl">{{data.symbol}}</h2>
        <div class="break"></div>
        <div class="flex">
          <div
            class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data.insiderColor}}"
          >
            <p class="text-xl font-bold">Held by Insiders:</p>
            {{data.heldPercentInsidersDisplay}}
          </div>
          <div
            class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data.institutionColor}}"
          >
            <p class="text-xl font-bold">Held by Institutions:</p>
            {{data.heldPercentInstitutionsDisplay}}
          </div>
          <div
            class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data.epsColor}}"
          >
            <p class="text-xl font-bold">EPS:</p>
            {{data.trailingEps}}
          </div>
          <div
            class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data.employeesColor}}"
          >
            <p class="text-xl font-bold">Employees:</p>
            {{data.fullTimeEmployees}}
          </div>
          <div
            class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data.marketCapColor}}"
          >
            <p class="text-xl font-bold">Market Cap:</p>
            {{data.marketCapDisplay}}
          </div>
        </div>
        <div class="break"></div>
        <div class="flex">
          <div class="img">
            <img
              src="/static/{{data.symbol}}/intraday.png"
              style="width: 500px; height: 300px"
            />
            <img
              src="/static/{{data.symbol}}/last_year.png"
              style="width: 500px; height: 300px"
            />
          </div>
          <!-- The News -->
          <div class="w-1/2 p-5 mx-2 max-h-72 overflow-scroll">
            {% for article in news %}
            <div class="flex flex-col justify-between">
              <span class="text-sm text-gray-500"
                >{{ article.publisher }}: {{ article.providerPublishTimeDisplay
                }}</span
              >
              <a
                href="{{ article.link }}"
                target="_blank"
                class="text-darkblue text-lg"
                >{{ article.title }}</a
              >
            </div>
            <hr class="h-px my-1 bg-gray-100 border-0 dark:bg-gray-700" />
            {% endfor %}
          </div>
        </div>
        <div class="break"></div>
      </div>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
      <div class="flex flex-wrap items-center mt-8">
        <div
          class="flex flex-col justify-center items-center bg-red-300 border border-gray-200 rounded p-4 m-4 w-32 h-32"
        >
          <h3 class="text-xl font-bold">Current Price:</h3>
          <p>{{ data.currentPrice }}</p>
        </div>
        <div
          class="flex flex-col justify-center items-center bg-red-300 border border-gray-200 rounded p-4 m-4 w-32 h-32"
        >
          <h3 class="text-xl font-bold">Fifty Day Average:</h3>
          <p>{{ data.fiftyDayAverage }}</p>
        </div>

        <div
          class="flex flex-col justify-center items-center bg-red-300 border border-gray-200 rounded p-4 m-4 w-32 h-32"
        >
          <h3 class="text-xl font-bold">200D Average:</h3>
          <p>{{ data.twoHundredDayAverage }}</p>
        </div>

        <div
          class="flex flex-col justify-center items-center bg-red-300 border border-gray-200 rounded p-4 m-4 w-32 h-32"
        >
          <h3 class="text-xl font-bold">Most Recent Quarter:</h3>
          <p>{{ data.mostRecentQuarterDisplay }}</p>
        </div>

        <div
          class="flex flex-col justify-center items-center bg-red-300 border border-gray-200 rounded p-4 m-4 w-32 h-32"
        >
          <h3 class="text-xl font-bold">Enterprise To Revenue:</h3>
          <p>{{ data.enterpriseToRevenue }}</p>
        </div>

        <div
          class="flex flex-col justify-center items-center bg-red-300 border border-gray-200 rounded p-4 m-4 w-32 h-32"
        >
          <h3 class="text-xl font-bold">Enterprise To EBITDA:</h3>
          <p>{{ data.enterpriseToEbitda }}</p>
        </div>
      </div>

      <div class="bg-gray-200 p-4 rounded mt-8"></div>
      <h2 class="text-2xl font-bold mb-4">Company Information</h2>
      <p>Address 1: {{ data.address1 }}</p>
      <p>Address 2: {{ data.address2 }}</p>
      <p>City: {{ data.city }}</p>
      <p>Country: {{ data.country }}</p>
      <p>Phone: {{ data.phone }}</p>
      <p>Fax: {{ data.fax }}</p>
      <p>Website: {{ data.website }}</p>
      <p>Industry: {{ data.industry }}</p>
      <p>Sector: {{ data.sector }}</p>
      <p>Long Business Summary: {{ data.longBusinessSummary }}</p>
      <p>Full Time Employees: {{ data.fullTimeEmployees }}</p>
      <h2 class="text-2xl font-bold mt-4 mb-2">Company Officers</h2>
      <ul>
        {% for officer in data.companyOfficers %}
        <li>
          <p>Name: {{ officer.name }}</p>
          <p>Age: {{ officer.age }}</p>
          <p>Title: {{ officer.title }}</p>
          <p>Year Born: {{ officer.yearBorn }}</p>
          <p>Exercised Value: {{ officer.exercisedValue }}</p>
          <p>Unexercised Value: {{ officer.unexercisedValue }}</p>
        </li>
        {% endfor %}
      </ul>

      <div class="bg-gray-200 p-4 rounded mt-8">
        <h2 class="text-2xl font-bold mb-4">Financial Data</h2>
        <p>Current Price: {{ data.currentPrice }}</p>
        <p>Recommendation Key: {{ data.recommendationKey }}</p>
        <p>Total Cash: {{ data.totalCash }}</p>
        <p>Total Cash Per Share: {{ data.totalCashPerShare }}</p>
        <p>EBITDA: {{ data.ebitda }}</p>
        <p>Total Debt: {{ data.totalDebt }}</p>
        <p>Quick Ratio: {{ data.quickRatio }}</p>
        <p>Current Ratio: {{ data.currentRatio }}</p>
        <p>Total Revenue: {{ data.totalRevenue }}</p>
        <p>Debt To Equity: {{ data.debtToEquity }}</p>
        <p>Revenue Per Share: {{ data.revenuePerShare }}</p>
        <p>Return On Assets: {{ data.returnOnAssets }}</p>
        <p>Return On Equity: {{ data.returnOnEquity }}</p>
        <p>Free Cashflow: {{ data.freeCashflow }}</p>
        <p>Operating Cashflow: {{ data.operatingCashflow }}</p>
        <p>Revenue Growth: {{ data.revenueGrowth }}</p>
        <p>Gross Margins: {{ data.grossMargins }}</p>
        <p>EBITDA Margins: {{ data.ebitdaMargins }}</p>
        <p>Operating Margins: {{ data.operatingMargins }}</p>
        <p>Financial Currency: {{ data.financialCurrency }}</p>
        <p>Trailing PEG Ratio: {{ data.trailingPegRatio }}</p>
      </div>
    </div>
  </body>
</html>
