<!-- just make a list of links using the tickers from the tickers variable -->

<!DOCTYPE html>
<html>
  <head>
    <title>Ticker List</title>

    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mx-auto">
      {% for ticker in tickers %}
      <a href="/{{ticker}}">
        <div class="card bg-unset w-4/5 mx-auto my-5 p-5" id="{{id}}">
          <h2 class="text-4xl">{{ticker}}</h2>
          <div class="break"></div>
          <div class="flex">
            <div
              class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data[ticker].info['insiderColor']}}"
            >
              <p class="text-xl font-bold">Held by Insiders:</p>
              {{data[ticker].info['heldPercentInsidersDisplay']}}
            </div>
            <div
              class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data[ticker].info['institutionColor']}}"
            >
              <p class="text-xl font-bold">Held by Institutions:</p>
              {{data[ticker].info['heldPercentInstitutionsDisplay']}}
            </div>
            <div
              class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data[ticker].info['epsColor']}}"
            >
              <p class="text-xl font-bold">EPS:</p>
              {{data[ticker].info['trailingEps']}}
            </div>
            <div
              class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data[ticker].info['employeesColor']}}"
            >
              <p class="text-xl font-bold">Employees:</p>
              {{data[ticker].info['fullTimeEmployees']}}
            </div>
            <div
              class="w-1/5 p-5 rounded-md border h-32 mx-2  my-5 {{data[ticker].info['marketCapColor']}}"
            >
              <p class="text-xl font-bold">Market Cap:</p>
              {{data[ticker].info['marketCapDisplay']}}
            </div>
          </div>
          <div class="break"></div>
          <div class="flex">
            <div class="img">
              <img
                src="/static/{{ticker}}/intraday.png"
                style="width: 500px; height: 300px"
              />
            </div>
            <!-- The News -->
            <div class="w-1/2 p-5 mx-2 max-h-72 overflow-scroll">
              {% for article in data[ticker].news %}
              <div class="flex flex-col justify-between">
                <span class="text-sm text-gray-500"
                  >{{ article.publisher }}: {{
                  article.providerPublishTimeDisplay }}</span
                >
                <a
                  href="{{ article.link }}"
                  target="_blank"
                  class="text-darkblue text-lg"
                  >{{ article.title }}</a
                >
              </div>
              <hr class="h-px my-1 bg-gray-100 border-0 dark:bg-gray-700" />
              {% endfor %}
            </div>
          </div>
          <div class="break"></div>
        </div>
      </a>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
      {% endfor %}
    </div>
  </body>
</html>
